@page
@model MiElectronica.Pages.Productos.CreateModel
@{
}

<br />
<h2>Producto Nuevo</h2>

@if (Model.errorMessage.Length > 0)
{
	<div class='alert alert-warning alert-dismissible fade show' role='alert'>
		<strong>@Model.errorMessage</strong>
		<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
	</div>
}
<form method="POST">
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Nombre</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="nombre" value="@Model.ProductosInfo.nombre"/>
		</div></div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Stock</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="stock" value="@Model.ProductosInfo.stock"/>
		</div></div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Cantidad</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="cantidad_producto" value="@Model.ProductosInfo.cantidad_producto" />
		</div></div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Fecha de creación</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="fecha_creacion" value="@Model.ProductosInfo.fecha_creacion" />
		</div>
	</div>
				@if (Model.successMessage.Length > 0)
				{
					<div class="row mb-3">
						<div class="col-sm-9">
							<div class='alert alert-success alert-dismissible fade show' role="alert">
								<strong>@Model.successMessage</strong>
								<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
							</div>
						</div>
					</div>
				}
				<div class="row mb-3">
					<div class="offset-sm-3 col-sm-3 d-grid">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>

					<div class="col-sm-3 d-grid">
						<a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
					</div>
				</div>
	</form>